@import "tailwindcss";
.header_bgImg {
  position: relative; /* Это необходимо для правильной работы псевдоэлемента */
  width: 100%;
  height: 35rem;
  background-image: url("../src/assets/uae-4-2048x1367 2 (1).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_bgImg::after {
  content: ""; 
  position: absolute; 
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.608); 
}
